In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('train.csv')
df.sample(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
444,445,1,3,"Johannesen-Bratthammer, Mr. Bernt",male,NaN,0,0,65306,8.1125,NaN,S
520,521,1,1,"Perreault, Miss. Anne",female,30.0,0,0,12749,93.5000,B73,S
119,120,0,3,"Andersson, Miss. Ellis Anna Maria",female,2.0,4,2,347082,31.2750,NaN,S
127,128,1,3,"Madsen, Mr. Fridtjof Arne",male,24.0,0,0,C 17369,7.1417,NaN,S
357,358,0,2,"Funk, Miss. Annie Clemmer",female,38.0,0,0,237671,13.0000,NaN,S

In [4]:
from ydata_profiling import ProfileReport
prof = ProfileReport(df)
prof.to_file(output_file='output.html')

Summarize dataset: 100%|██████████| 47/47 [00:07<00:00,  6.16it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:06<00:00,  6.30s/it]
Render HTML: 100%|██████████| 1/1 [00:02<00:00,  2.66s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 119.36it/s]